
*{
    margin: -1px;
    font-family: sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

article {
    padding-top: 20px;
    padding-left: 20px;
}

aside{
    padding-top: 20px;
    padding-left: 20px;
}

footer {
    padding-top: 20px;
    padding-left: 20px;
}

h1 {
    padding-top: 20px;
}

h5 {
    padding-top: 20px;
    padding-left: 20px;
}



.article1 {
    grid-area: a1;

    opacity: 100%;
    max-width: 640px;
    box-shadow: 10px 10px #302c74;
    min-width: 20%;
    box-sizing: border-box;
    margin: 5%;
    padding-right: 5%;
}


.article2 {
    grid-area: a2;
    opacity: 100%;
    min-width: 20%;

    box-shadow: 10px 10px #302c74;
    box-sizing: border-box;
    margin: 5%;
    padding-right: 5%;
}

.article3 {
    grid-area: a3;
    opacity: 100%;

    box-shadow: 10px 10px #302c74;
    min-width: 20%;
    box-sizing: border-box;
    margin: 5%;
    padding-right: 5%;
}

.aside {
    grid-area: as;
    line-height: 40px;
    font-family: sans-serif;

    min-width: 20%;
    box-sizing: border-box;


}

.footer {
    grid-area: ft;
    background: #302c74;
    color: white;
}

.header {
    grid-area: h1;
    background: white;
    box-shadow: 0px 10px #302c74;

    
}

.headertext {
    padding-left: 5%;
    font-family: sans-serif;
    background: #302c74;
    color: white;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 80px;
    height: auto;
    width: 5%;
    margin-top: 30px;
    min-width: 80px;
}

.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    margin-top: auto;
    height: auto;
}

.img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    margin-top: auto;
    height: auto;
}



.nav {
    grid-area: na;
    background: #302c74;
    opacity: 100%; 
    font-family: sans-serif;
    font-style: italic;

    margin-left: -10px;
    font-size: 30px;
    box-shadow: 0px 10px #302c74;

}

.navmenu1{
    margin-right: 6%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 25px;
}

.navmenurest{
    margin-right: 6%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media screen and (min-width:1024px) {
    .gridWrapper {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas:         
            'na na na na na na'
            'h1 h1 h1 h1 h1 h1'
            'a3 a3 a3 a1 a1 as'
            'a3 a3 a3 a2 a2 as'
            'ft ft ft ft ft ft'
        ;
        grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
        color: black;
    }
}

@media screen  and (max-width:1023px) {
    .gridWrapper {
        display: grid;
        width: 100vw;
        height: 130%;
        grid-template-areas: 
            'na na'
            'h1 h1'
            'a3 a3'
            'a2 a2'
            'a1 a1'
            'a1 a1'
    }
    .nav {
        grid-area: na;
        background: #302c74;   
        color: whitesmoke;
        font-style: italic;

        box-shadow: 0px 10px #302c74;
        text-align: center;
        padding: 5%;
    }
    .aside {
        display: none;
    }
    .footer {
        display: none;
    }
    .article3{
        margin-bottom: 5%;
    }
}